<root>
  <FileGroup Name="extention.js" Minify="true">
    <File Path="js/extention.js" />
  </FileGroup>
  <FileGroup Name="extention-iframe.js" Minify="true">
    <File Path="js/extention-iframe.js" />
  </FileGroup>
  <FileGroup Name="extention.data.js" Minify="true">
    <File Path="js/jquery-1.7.2.min.js" />
    <File Path="js/jquery.json-2.4.min.js" />
    <File Path="js/base64.js" />
    <File Path="js/jsonp.js" />
    <File Path="js/jquery.cookie.js" />
    <File Path="js/tracking.js" />
    <File Path="js/ads.js" />
  </FileGroup>
  <FileGroup Name="extention-iframe.data.js" Minify="true">
    <File Path="js/jquery-1.7.2.min.js" />
    <File Path="js/jquery.json-2.4.min.js" />
    <File Path="js/base64.js" />
    <File Path="js/jsonp.js" />
    <File Path="js/dating-il.js" />
  </FileGroup>
</root>