<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Ads</title>
</head>
<body style="width:@Model.width; height:@Model.height; margin:0; padding:0">
    @if (Model.ad_id == 1)
    {
        <script type="text/javascript" src="https://track.clickon.co.il/sz/RvlAY88TDraT55d/s"></script>
        <noscript>
            <iframe src="https://track.clickon.co.il/sz/RvlAY88TDraT55d/h" width="300" height="250"
                frameborder="0"></iframe>
        </noscript>
        <!-- 300X250 -->
    }
    @if (Model.ad_id == 2)
    {
        <script type="text/javascript" src="https://track.clickon.co.il/sz/EqFGfaPYEm7mbLq/s"></script>
        <noscript>
            <iframe src="https://track.clickon.co.il/sz/EqFGfaPYEm7mbLq/h" width="728" height="90"
                frameborder="0"></iframe>
        </noscript>
        <!-- 728X90-->
    }
    @if (Model.ad_id == 3)
    {
        <script type="text/javascript" src="https://track.clickon.co.il/sz/R99N8PkGbnelly7/s"></script>
        <noscript>
            <iframe src="https://track.clickon.co.il/sz/R99N8PkGbnelly7/h" width="160" height="600"
                frameborder="0"></iframe>
        </noscript>
        <!-- 160X600-->
    }
    @if (Model.ad_id == 4)
    {
        <script type="text/javascript" src="https://track.clickon.co.il/sz/nslxlHSK37sRN59/s"></script>
        <noscript>
            <iframe src="https://track.clickon.co.il/sz/nslxlHSK37sRN59/h" width="250" height="250"
                frameborder="0"></iframe>
        </noscript>
        <!-- 250X250-->
    }
    @if (Model.ad_id == 5)
    {
        <script type="text/javascript" src="https://track.clickon.co.il/sz/mLXpNDcg3ReyEA3/s"></script>
        <noscript>
            <iframe src="https://track.clickon.co.il/sz/mLXpNDcg3ReyEA3/h" width="120" height="600"
                frameborder="0"></iframe>
        </noscript>
        <!-- 120X600-->
    }
    @if (Model.ad_id == 6)
    {
        <script type="text/javascript" src="https://track.clickon.co.il/sz/8r5WPlUtzafVgTL/s"></script>
        <noscript>
            <iframe src="https://track.clickon.co.il/sz/8r5WPlUtzafVgTL/h" width="468" height="60"
                frameborder="0"></iframe>
        </noscript>
        <!-- 468X60-->
    }
</body>
</html>
