<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BoostMe!</title>
</head>
<body>
    <div style="font-family: Arial; width: 100%;">
        <table cellspacing="0" cellpadding="0" border="0" style="width: 600px; margin: 0 auto;">
            <tr>
                <td>
                    <table style="background-color: #FFFFFF; width: 600px;" cellspacing="0" cellpadding="0"
                        border="0">
                        <tr>
                            <td>
                                <img src="http://extentions.apphb.com/boostme/get-image?id=$id$&mailtype=$mailtype$"
                                    alt="" title="" width="600" height="163" style="display: block;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #54D6E3; height: 12px;">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 36px 12px; text-align: right; direction: rtl; width: 600px; border-top: 5px solid #FF0059;
                                border-bottom: 5px solid #FF0059; font-family: Arial; border-left: 1px solid #eeeeee;
                                border-right: 1px solid #eeeeee;">
                                <div style="font-size: 15px; color: #1F6F6C; min-height: 200px;">
                                    <p style="margin: 0 0 15px 0; line-height: 17px">
                                        היי $name$,
                                        <br />
                                        <br />
                                        רוצה לקבל הרבה יותר פניות מבחורות באתרי היכרויות?
                                        <br />
                                        <br />
                                        <b>!BoostMe</b> – האפליקציה היחידה שמקדמת אותך ברשימות החיפוש באתרי היכרויות וע"י
                                        כך מגדילה את כמות הפניות אליך!
                                        <br />
                                        <br />
                                        האתרים הנתמכים הם: Onlyu, Lovely, Alpha, Loveme, OkCupid, Dating-IL (DatingBook),
                                        Jdate (החצי השני)
                                        <br />
                                        <br />
                                        האפליקציה חינם לרגל ההשקה - הצטרף עוד היום לאלפי משתמשים מרוצים.
                                    </p>
                                    <p style="margin: 0 0 15px 0; line-height: 17px;">
                                        למידע נוסף והורדת האפליקציה <a href="http://extentions.apphb.com/boostme/click-website?id=$id$&mailtype=$mailtype$"
                                            target="_blank">לחץ כאן</a>
                                    </p>
                                </div>
                                <div style="margin-top: 35px;">
                                    <a href="http://extentions.apphb.com/boostme/click-iphone?id=$id$&mailtype=$mailtype$"
                                        target="_blank" style="font-size: 15px; font-weight: bold; background-color: #FE0259;
                                        padding: 12px 0; color: #fff; text-decoration: none; text-align: center; display: block;
                                        width: 250px;">לחץ כאן להורדה לאייפון !</a> <a href="http://extentions.apphb.com/boostme/click-website?id=$id$&mailtype=$mailtype$"
                                            style="font-size: 15px; font-weight: bold; background-color: #FE0259; padding: 12px 0;
                                            color: #fff; text-decoration: none; text-align: center; display: block; width: 250px;
                                            margin-top: 10px;">לחץ כאן להורדה לאנדרואיד !</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #54D6E3; height: 24px;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <a href="http://extentions.apphb.com/boostme/unsubscribe?id=$id$&mailtype=$mailtype$"
                        style="font-size: 10px; color: #72D0EB; text-decoration: underline;">לחץ כאן להסרה
                        מהרשימת תפוצה</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
