<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>נושא</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="direction: rtl">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader">
                        <tr>
                            <td valign="top" class="preheaderContent">
                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" width="190">
                                            <div mc:edit="std_preheader_links" style="color: #505050; font-family: Arial; font-size: 10px;
                                                line-height: 100%;">
                                                לא רואה מייל זה ?
                                                <br />
                                                <a href="http://extentions.apphb.com/get-mail?id=$id$&name=$name$"
                                                    target="_blank" style="font-family: Arial">עבור לגרסת דפדפן</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer"
                        style="border: 1px solid #DDDDDD;">
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td class="headerContent">
                                            <img src="http://extentions.apphb.com/get-mail-image?id=$id$"
                                                style="max-width: 600px;" id="headerImage campaign-icon" mc:label="header_image"
                                                mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="background-color: #FAFAFA">
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContent" style="color: #505050; font-family: Arial; font-size: 15px;
                                            line-height: 150%;">
                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                <tr>
                                                    <td valign="top">
                                                        <div mc:edit="std_content00">
                                                            <h4 class="h4" style="color: #202020; display: block; font-family: Arial; font-size: 18px;
                                                                font-weight: bold; line-height: 100%; margin: 0 0 10px;">
                                                                היי $name$,</h4>
                                                            <p style="font-family: Arial">
                                                                שמנו לב שאת משתמשת באפליקציה שלנו לעיתים די דחופות ואנחנו מאוד שמחים שבחרת בשרות
                                                                שלנו.<br />
                                                                כפי שאת בטח יודעת, אנחנו לא נוהגים לשלוח מיילים מכל סוג שהוא כדי לא להטריד את המשתמשים
                                                                שלנו - אנחנו יודעים עד כמה זה מרגיז.
                                                                <br />
                                                                הסיבה שבכל זאת החלטנו לשלוח לך מייל היא כי לאחרונה גדלה התופעה של משתמשים פיקטיביים
                                                                בפייסבוק וכתוצאה מכך גם באפליקציה שלנו.
                                                                <br />
                                                                </br> כדי למגר את התופעה הזאת החלטנו להוסיף פיצ'ר שיתן לך את האפשרות<b> לראות את פרופיל
                                                                    הפייסבוק של כל החברים באפליקציה.</br></br></b> יצאנו מנקודת הנחה שאם תוכלי לראות
                                                                את פרופיל הפייסבוק של אותו הבחור שאת מדברת איתו עוד לפני שהתעמקת איתו בשיחה, תוכלי
                                                                לזהות באופן מיידי האם מדובר במישהו אמיתי או שזה עוד אחד שפתח פרופיל פייסבוק פיקטיבי
                                                                לפני שבוע ומנסה לשלוח הודעות ספאם לכמה שיותר אנשים.
                                                                <br />
                                                                <br />
                                                                אנחנו יודעים בוודאות שההנאה שלך תוך כדי השימוש באפליקציה מתורגמת ישירות להצלחה שלנו,
                                                                לכן חשוב לנו לשמור על מעגל חברים איכותי ככל הניתן.
                                                                <br />
                                                                תוכלי למצוא קישור להורדת הפיצ'ר בלינק הבא:
                                                                <br />
                                                                <br />
                                                                <a href="http://extentions.apphb.com/get-mail-click?id=$id$"
                                                                    target="_blank">קישור להוורדת הפיצ'ר</a>
                                                                <br />
                                                                <br />
                                                                כדי לוודא שהפיצ'ר עובד, תכנסי לעמוד הראשי של האפליקציה, תרחפי עם העכבר על משתמש
                                                                כלשהו ותראי שעל התמונה שלו מלמעלה מופיע כפתור עם המילה "פייסבוק". אם תלחצי עליו,
                                                                יאותר פרופיל הפייסבוק של המשתמש ותכלי לצפות בו.
                                                                <br />
                                                                <br />
                                                                זה הכל.
                                                                <br />
                                                                <br />
                                                                שימוש מהנה וסורי על ההטרדה.
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContent">
                                            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                <tr>
                                                    <td colspan="2" valign="middle" id="social">
                                                        <div mc:edit="std_social" style="text-align: center; color: #707070; font-family: Arial;
                                                            font-size: 12px; line-height: 125%;">
                                                            <a href="http://www.facebook.com/dating-il" target="_blank" style="font-family: Arial">
                                                                קישור לאפליקציה</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" width="350">
                                                        <div mc:edit="std_footer" style="color: #707070; font-family: Arial; font-size: 12px;
                                                            line-height: 125%;">
                                                            <em>Copyright &copy; 2013 Dating-IL, כל הזכויות שמורות</em>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" valign="middle" id="utility">
                                                        <div mc:edit="std_utility" style="text-align: center; color: #707070; font-family: Arial;
                                                            font-size: 12px; line-height: 125%;">
                                                            &nbsp;<a href="http://extentions.apphb.com/get-mail-unsubscribe?id=$id$"
                                                                target="_blank">לא בא לי עליכם יותר, תמחקו אותי מהרשימה</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br />
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
